.h1-aboutme {
  margin: 0;
  text-align: unset;
  justify-content: flex-start;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;

  margin: 130px 0;
}

.about-me-image {
  align-self: flex-start;
}

.about-me-image img {
  width: 100%;
}

.aboutme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
}

.button-container button,
.button-container a {
  min-width: 250px;
}
