/* Hero section */
.home-banner {
  margin: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.hi-emoji-h1 {
  display: flex;
  align-items: center;
  text-align: justify;
}

.hi-emoji {
  width: 70px;
  padding: 1rem;
}

.home-description {
  font-size: 24px;
  text-align: center;
  max-width: 50ch;
  margin: 1.5rem 0;
}

/* My skill section */
.my-skill {
  margin: 120px 0;
  display: grid;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  grid-template-columns: repeat(3, 1fr);
}
.skills {
  margin-top: 100px;
  margin-bottom: -50px;
}

.skills-heading {
  grid-column: span 3;
}

.skill-heading .outline-heading {
  margin-top: 2rem;
}

.skill-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-heading .uxui-image {
  max-height: 102px; /* Height of widest icon */
}

.flex-container {
  margin-bottom: 100px;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  text-align: justify;
  justify-content: center;
}

/* Project styling */

.projects-heading {
  text-align: center;
  padding-top: 50px;
}

.projects-section {
  padding: 15px 90px;
  border-radius: 12px;
  margin-top: 80px;
  margin-bottom: 120px;
  height: 80vh;
  /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24); */
}

.blue-gradients {
  background: linear-gradient(270deg, #cde1fe 41.99%, #ffffff 97.03%);
}
.orange-gradients {
  background: linear-gradient(
    90deg,
    #fff5ea -0.33%,
    rgba(255, 245, 234, 0) 97.03%
  );
}

.violet-gradients {
  background: linear-gradient(
    270deg,
    #a9bae0 -4.52%,
    rgba(169, 171, 224, 0) 88.32%
  );
}

.oceanblue-gradients {
  background: linear-gradient(90deg, #9dc4ff -0.42%, #ffffff 79.01%);
}

.column-image {
  display: flex;
  justify-content: center;
}

.column-image img {
  max-width: 370px;
  width: 100%;
}

.column-text h3 {
  margin-bottom: 2rem;
}

.column-text p {
  max-width: 35ch;
  margin-bottom: 2rem;
}
