

/* Hero section */
.home-banner{
  margin: 45px 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.hi-emoji-h1{
  display: flex;
  align-items: center;
  text-align: justify;
}

.hi-emoji{
  width: 70px;
  padding: 1rem ;
}

.home-description {
  font-size: 24px;
  text-align: center;
  max-width: 50ch;
  margin: 1.5rem 0;
}

/* My skill section */
.my-skill{
  margin: 120px 130px;
  display: grid;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  grid-template-columns: repeat(3, 1fr);
}
 .skills{
   margin-top: 100px;
   margin-bottom: -50px;
 }

 .skill-heading .outline-heading {
   margin-top: 2rem;
 }

.skills-heading {
  grid-column: span 3;
}

.flex-container{
  margin-bottom: 100px;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  text-align: justify;
  justify-content: center;
}


/* Project styling */

.projects-section {
  border-radius: 12px;
  margin-top: 120x;
  margin-bottom: 120px;
  height: 80vh;
  /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24); */
}

.blue-gradients{
  background: linear-gradient(270deg, #CDE1FE 41.99%, #FFFFFF 97.03%);
}
.orange-gradients{
  background: linear-gradient(90deg, #FFF5EA -0.33%, rgba(255, 245, 234, 0) 97.03%);
}

.violet-gradients{
  background: linear-gradient(270deg, #A9BAE0 -4.52%, rgba(169, 171, 224, 0) 88.32%);
}

.oceanblue-gradients{
  background: linear-gradient(90deg, #9DC4FF -0.42%, #FFFFFF 79.01%);
}

.two-column-grid{
  padding: 15px 90px;
  display: grid;
  grid-column-gap: 0;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}
.portfolio-page-margins {
  margin-left: 130px;
  margin-right: 130px;
}

.column-image {
  display: flex;
  justify-content: center;
}

.column-image img {
  max-width: 370px;
  width: 100%;
}

.column-text h3 {
  margin-bottom: 2rem;
}

.column-text p {
  max-width: 35ch;
  margin-bottom: 2rem;
}

