

  /* Title */
  .page-title, h1{
    text-align: center;
    display: flex;
   justify-content: center;
  }

  h1{
    margin: 4rem;
  }

/* The start of Vinnies Shop */
  .two-column-grid{
    display: grid;
    grid-column-gap: 40px;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
  }

.section-heading {
  padding: 48px 0;
}

.page-margin {
  margin-left: 130px;
  margin-right: 130px;
}

.column-image {
  display: flex;
  justify-content: center;
}

.column-image img {
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
}

.column-text h3 {
  margin-bottom: 2rem;
}

.column-text p {
  max-width: 35ch;
  margin-bottom: 2rem;
}
.list{
  font-weight:900;
}

/* User Finding */
.user-testing-card{
  background: radial-gradient(170.99% 170.99% at 66.95% 165.74%, rgba(159, 219, 253, 0.42) 0%, rgba(255, 255, 255, 0.3) 100%);
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 12px;
}

.user-testing{
  margin: 0 220px;
  display: grid;
  grid-column-gap: 20px;
  text-align: justify;
  grid-template-columns: repeat(3, 1fr);
}

.finding-comment {
  text-align: center;
  max-width: 50ch;
  margin: 1.5rem 0;
 }

.user-finding-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.user-finding{
  grid-column: span 3;
}

.flex-container{
  margin-top: 20px;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  text-align: justify;
  justify-content: center;
}

/* Solution */
.solution{
  margin-top: 30px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.solution li {
  max-width: 50ch;
}

/* Design */

.wireframe {
  margin-top: 130px;
  margin-bottom: 130px;
}

.first-wireframe {
  margin-top: 0;
}

.wireframe-grid{
  display: grid;
  justify-content: center;
  grid-column-gap: none;
  grid-row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.wireframe-grid img {
  width: 70%;
  height: 100%;
  border-radius: 12px;
}

.wireframe-full-width-image {
  width: 100%;
  display: flex;
}

.wireframe-full-width-image img {
  width: 100%;
}

/* footer */
.footer-description{
  text-align: center;
}
